<!DOCTYPE html>
<html>

    <head>
        <script src="static/jsbn.js"></script>
        <script src="static/sha256.js"></script>
        <script src="static/srp_client.js"></script>

        <script type="text/javascript">

        function init(){

            username = document.getElementById("username").value;
            password = document.getElementById("password").value;

            var username = "crappyusername" + Math.random();
            var password = "crappypassword"
            createAccount(username, password);
            handshake(username, password);

        }

        </script>

    </head>

    <body onload="init()">
        <p>Register! (username, password):</p>
        <form>
            <input type="text" id="username">
            <input type="password" id="password">
            <button type="button" onclick="onSubmit()">Register</button>
        </form>
    </body>
</html>
